<#@ template language="C#" #>
<#@ import namespace="System.Linq" #>

namespace NickStrupat;

<#
for (var i = 1; i != 16; i++)
{
	var range = Enumerable.Range(1, i + 1).ToArray();
	var gps = String.Join(", ", from n in range select $"T{n}");
	var gpts = String.Join(",\n\t", from n in range select $"typeof(T{n})");
#>
[AttributeUsage(AttributeTargets.Class)]
public sealed class DuAttribute<<#=gps#>>() : DuAttributeBase([
	<#=gpts#>
]);

<#
}
#>